#chattext
{
    width: 100%;
    height: 10vh;
    
}

#chatarea
{
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 5%;
}


#chatbody span
{
    color: red;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message
{
    white-space: pre-wrap;
    background-color: gray;
    color: black;
    border-radius: 10px;
    border-style: solid;
    margin: 10px 0 0 0;
}